
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="iPhone,可穿戴设备,资讯" />
<meta name="description" content="[!--smalltext--]" />
<title>苹果扛起可穿戴设备大旗；苹果iPhone一代复刻版渲染图--台州IT网</title>
<link rel="shortcut icon" href="/skin/tzit/images/favicon.ico">
<link href="/skin/tzit/css/font-awesome.min.css" rel="stylesheet">
<link href="/skin/tzit/css/swiper.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/skin/tzit/css/style.css" />
<script src="/skin/tzit/js/jquery-2.2.4.min.js" type="text/javascript"></script>
<!--[if lt IE 9]><script src="/skin/tzit/js/html5shiv.min.js"></script><script src="/skin/tzit/js/respond.js"></script> <![endif]-->
</head>
<body>
<div class="header">
  <div class="wrap">
    <div class="logo"> <a href="/" title="台州IT网"><img src="/skin/tzit/images/logo.png" alt="台州IT网"></a> </div>
    <div id="monavber" class="nav" data-type="index" data-infoid="">
      <ul class="navbar">
        <li class=""><a href="/">首页</a></li>
          <li class="active"><a href="/htmlitzx/" title="IT资讯">IT资讯</a></li><li class=""><a href="/htmlitjs/" title="IT技术">IT技术</a></li><li class=""><a href="/htmlydhl/" title="移动互联">移动互联</a></li><li class=""><a href="/htmlrjzj/" title="软件之家">软件之家</a></li><li class=""><a href="/htmlyjzj/" title="硬件之家">硬件之家</a></li><li class=""><a href="/htmlznsb/" title=" 智能设备"> 智能设备</a></li><li class=""><a href="/htmlpczx/" title="评测中心">评测中心</a></li><li class=""><a href="/htmlqkl/" title="区块链">区块链</a></li>      </ul>
    </div>
    <div class="mnav"><i class="fa fa-bars"></i></div>
    <div class="msearch"><i class="fa fa-search"></i></div>
    <div class="muser"><a rel="nofollow" href="/e/member/cp/" target="_blank"><i class="fa fa-user-o"></i></a></div>
    <div class="user">
      <div class="avatar"> <img src="/skin/tzit/images/0.png" alt=""> </div>
      <div class="login"> <script src="/e/member/login/loginjs.php"></script> </div>
    </div>
    <div class="search">
      <form onsubmit="return checkSearchForm()" method="post" name="searchform" action="/e/search/index.php" >
        <input class="search-input" name="keyboard" type="text" placeholder="输入关键词">
        <button type="submit" class="submit" value="搜索"><i class="fa fa-search"></i></button>
        <input type="hidden" value="title" name="show">
              <input type="hidden" value="1" name="tempid">
              <input type="hidden" value="news" name="tbname">
              <input name="mid" value="1" type="hidden">
              <input name="dopost" value="search" type="hidden">
      </form>
    </div>
  </div>
</div>
<div class="main wrap">
  <div class="mainbody">
    <div class="post">
          <div class="post_t"> <img src="/skin/tzit/images/0.png" alt="李晓丽">
        <h1><a href="/htmlitzx/2020-02-06/5425.html">苹果扛起可穿戴设备大旗；苹果iPhone一代复刻版渲染图</a></h1>
        <div class="info"> <span><a rel="nofollow" href="/e/space/listuseract.php?mid=1&tempid=11&userid=5" title="admin"><i class="fa fa-user-o"></i>李晓丽</a></span> <span><a href="/htmlitzx/"><i class="fa fa-list"></i>IT资讯</a></span> <span><i class="fa fa-clock-o"></i>2020-02-06</span> <span><i class="fa fa-eye"></i><script src=/e/public/ViewClick/?classid=1&id=5425&addclick=1></script>浏览</span> <span><i class="fa fa-commenting"></i><script src=/e/public/ViewClick/?classid=1&id=5425&down=2></script></span> </div>
      </div>
<div class="pcd_ad"><!-- tzitad --></div>
<div class="mbd_ad"></div>
      <div class="article_content">
        <p>　　苹果财报显示，&ldquo;配件产品&rdquo;的营收高达100亿美元，同比增长率更是高达37%，成为苹果排名第三的产品品类。苹果CEO蒂姆&middot;库克透露，&ldquo;配件产品&rdquo;的营收大部分由AirPods、Apple Watch等可穿戴设备贡献。</p>

<p align="center"><img align="" alt="苹果扛起可穿戴设备大旗；苹果iPhone一代复刻版渲染图" border="0" src="/d/file/2020-02-06/3100714bb0a241857e4e912a89e792bb.jpeg" width="722" /></p>

<p>　　对于苹果这种规模的巨人来说，可穿戴设备的这个增速着实喜人：要知道，当季iPhone的营收仅仅增长了7.6%。</p>

<p align="center"><img align="" alt="苹果扛起可穿戴设备大旗；苹果iPhone一代复刻版渲染图" border="0" src="/d/file/2020-02-06/44099709dd0ccad18b0ad8378bc0eacc.jpeg" width="1080" /></p>

<p>　　经过了一段时间的产品迭代之后，苹果的可穿戴设备可谓渐入佳境。其中，苹果2019年10月底推出的AirPods Pro大获消费者喜爱，刚一上市就卖到缺货，目前还不知道何时才能补足需求;而去年发布的Apple Watch Series5也同样供不应求，预计要到今年一季度才能达到供需平衡。</p>

<p>　　维布德什证券分析师丹尼尔&middot;艾维斯(Daniel Ives)预测，苹果今年将卖出9000万副AirPods，与2019年5000万副相比，增长率高达80%。</p>

<p>　　与已经进入成熟期的智能手机产业相比，可穿戴设备产业仍然处于高速增长期。知名市场研究机构IDC的调研报告显示，2016-2019年最近四年，全球可穿戴设备的出货量增长率一直都在27.5%-29.7%这个范围内，增速相当可观。我们也知道，2017年之后，全球智能手机的出货量一直都是负增长。</p>

<p align="center"><img align="" alt="苹果扛起可穿戴设备大旗；苹果iPhone一代复刻版渲染图" border="0" src="/d/file/2020-02-06/e2287566a92a59c1201aa068287afbe3.jpeg" width="722" /></p>

<p>　　当然，与智能手机相比，可穿戴设备产业的规模还相当较小。还是看IDC的数据，2019年全球可穿戴设备的出货量大约为2.23亿部，而同一个时期全球智能手机的出货量则高达13.71亿部，可穿戴设备出货量相当于智能手机的16.3%。</p>

<p>　　由于可穿戴设备的单价总体上要比智能手机低不少，其市场规模就更不如智能手机了。另一家知名市场研究机构Gartner预计，2019年全球可穿戴设备的市场规模大约为420亿美元，而全球智能手机的市场规模大约为5200亿美元，可穿戴设备相当于智能手机的8%。</p>

<p>　　
      </div>
      <div class="pagination pagination-multi"><ul>&nbsp;<li class='active'><span>1</span></li>&nbsp;<li><a href="/htmlitzx/2020-02-06/5425_2.html">2</a></li>&nbsp;<li><a href="/htmlitzx/2020-02-06/5425_3.html">3</a></li><li class="next-page"><a href="/htmlitzx/2020-02-06/5425_2.html">下一页</a></li><li><a href="/htmlitzx/2020-02-06/5425_3.html">尾页</a></li></ul></div>
<div class="pcd_ad"><!-- tzitad --></div>
<div class="mbd_ad"></div>
      <div class="bq">
        <p>转载请注明：<a href="/">首页</a>&nbsp;>&nbsp;<a href="/htmlitzx/">IT资讯</a> » <a href="/htmlitzx/2020-02-06/5425.html">苹果扛起可穿戴设备大旗；苹果iPhone一代复刻版渲染图</a></p>
      </div>
      <div class="rights">
        <h5>版权声明</h5>
        <p>本文仅代表作者观点，不代表台州IT网立场。<br>
          本站部分资料来源网络和网友发布，版权归原作者所有。如有侵权，请您来信告之删除！</p>
      </div>
<div class="r-pn-post">
               
<div class="shang"><a title="Galaxy S20真机被曝光；iPhoneSE2正式量产" href="/htmlitzx/2020-02-06/5423.html" rel="bookmark" class="prev_p"><span>上一篇 :</span> Galaxy S20真机被曝光；iPhoneSE2正式量产 
</a></div>
<div class="xia"><a href="/htmlitzx/2020-02-06/5427.html" rel="bookmark" class="next_p"><span>下一篇 :</span> 苹果折叠屏手机要来了？魅族Zero斩获iF设计金奖</a></div>

              
              <div class="clear"></div>
            </div>
      <div class="related">
        <h5>你可能喜欢:</h5>
        <ul>
          <li> <a href="/htmlznsb/2020-07-08/5806.html" title="经典的小屏手机 iPhone SE 2使用感">
            <div class="img"> <img src="/e/extend/timthumb.php?src=/d/file/2020-07-08/small1fd197953ac8e60e229451a73d52df471594175911.jpg&amp;h=100&amp;w=150&amp;zc=1" alt="经典的小屏手机 iPhone SE 2使用感"> </div>
            <p>经典的小屏手机 iPhone SE 2使用感</p>
            </a> </li><li> <a href="/htmlitzx/2020-07-04/5776.html" title="苹果将要推出屏下指纹解锁手机？iPho">
            <div class="img"> <img src="/e/extend/timthumb.php?src=/d/file/2020-07-04/small484fdf0b6aa758e503442bc2969bbb131593864350.jpg&amp;h=100&amp;w=150&amp;zc=1" alt="苹果将要推出屏下指纹解锁手机？iPho"> </div>
            <p>苹果将要推出屏下指纹解锁手机？iPho</p>
            </a> </li><li> <a href="/htmlitzx/2020-07-04/5775.html" title="微信这些隐藏功能你知道吗?边玩手">
            <div class="img"> <img src="/e/extend/timthumb.php?src=/d/file/2020-07-04/small0abd4ddb1651f9c8c39324ef63d0a9ec1593864232.jpg&amp;h=100&amp;w=150&amp;zc=1" alt="微信这些隐藏功能你知道吗?边玩手"> </div>
            <p>微信这些隐藏功能你知道吗?边玩手</p>
            </a> </li><li> <a href="/htmlitzx/2020-07-04/5774.html" title="人均月流量首次超10GB；Android 11这">
            <div class="img"> <img src="/e/extend/timthumb.php?src=/d/file/2020-07-04/small5c2577fc778b4a270a105c77a13d06f31593864120.jpg&amp;h=100&amp;w=150&amp;zc=1" alt="人均月流量首次超10GB；Android 11这"> </div>
            <p>人均月流量首次超10GB；Android 11这</p>
            </a> </li><li> <a href="/htmlznsb/2020-06-24/5699.html" title="华为畅享20 Pro正式发布；iPhone SE">
            <div class="img"> <img src="/e/extend/timthumb.php?src=/d/file/2020-06-24/small4084598cf8e56515694e56bf251257fc1592969718.jpg&amp;h=100&amp;w=150&amp;zc=1" alt="华为畅享20 Pro正式发布；iPhone SE"> </div>
            <p>华为畅享20 Pro正式发布；iPhone SE</p>
            </a> </li><li> <a href="/htmlitzx/2020-06-19/5650.html" title="如何解决暗光场景成像难的问题？vivo">
            <div class="img"> <img src="/e/extend/timthumb.php?src=/d/file/2020-06-19/small33a436f3580476551462da9e713ef7e41592566692.jpg&amp;h=100&amp;w=150&amp;zc=1" alt="如何解决暗光场景成像难的问题？vivo"> </div>
            <p>如何解决暗光场景成像难的问题？vivo</p>
            </a> </li><li> <a href="/htmlznsb/2020-06-06/5609.html" title="国产系统要迎来“颠覆”时刻；iPhone">
            <div class="img"> <img src="/e/extend/timthumb.php?src=/d/file/2020-06-06/small89a199b255583d3f2e2742269cdb9e441591446171.jpg&amp;h=100&amp;w=150&amp;zc=1" alt="国产系统要迎来“颠覆”时刻；iPhone"> </div>
            <p>国产系统要迎来“颠覆”时刻；iPhone</p>
            </a> </li><li> <a href="/htmlitzx/2020-06-04/5599.html" title="Apple Watch5耐克款手表测评；未来iP">
            <div class="img"> <img src="/e/extend/timthumb.php?src=/d/file/2020-06-04/smallba81ace71262390e9c949035e91d5f3a1591270113.jpg&amp;h=100&amp;w=150&amp;zc=1" alt="Apple Watch5耐克款手表测评；未来iP"> </div>
            <p>Apple Watch5耐克款手表测评；未来iP</p>
            </a> </li><li> <a href="/htmlznsb/2020-05-23/5532.html" title="iPhoneXs还能这样玩？使用耳机的小技">
            <div class="img"> <img src="/e/extend/timthumb.php?src=/d/file/2020-05-23/small625f0ac938c8bf53c2e71f6b8165cbe61590204347.jpg&amp;h=100&amp;w=150&amp;zc=1" alt="iPhoneXs还能这样玩？使用耳机的小技"> </div>
            <p>iPhoneXs还能这样玩？使用耳机的小技</p>
            </a> </li><li> <a href="/htmlznsb/2020-05-22/5524.html" title="iPhone SE的续航如何？4G手机还有第">
            <div class="img"> <img src="/e/extend/timthumb.php?src=/d/file/2020-05-22/small2512d83f6d0a02daf4e0d611b3f895891590117774.jpg&amp;h=100&amp;w=150&amp;zc=1" alt="iPhone SE的续航如何？4G手机还有第"> </div>
            <p>iPhone SE的续航如何？4G手机还有第</p>
            </a> </li>        </ul>
      </div>
      <div class="jxcate"> 继续浏览有关 <a href="/e/tags/?tagname=iPhone" target="_blank">iPhone</a> &nbsp; <a href="/e/tags/?tagname=%E5%8F%AF%E7%A9%BF%E6%88%B4%E8%AE%BE%E5%A4%87" target="_blank">可穿戴设备</a> &nbsp; <a href="/e/tags/?tagname=%E8%B5%84%E8%AE%AF" target="_blank">资讯</a> 的文章 </div>
    </div>
    <div id="comments" class="comments">
      <div class="c_title">
        <h5>发表评论</h5>
       </div>
      <div id="comment_post" class="compost">
        <link href="/skin/tzit/css/pl.css" rel="stylesheet">
<div class="showpage" id="plpost">
<table width="100%" border="0" cellpadding="0" cellspacing="0"  style="line-height: 25px; padding: 5px 3px 1px 8px; font-size: 18px;">
<tr><td><strong><font color="#333333">留言与评论（共有 <span id="infocommentnumarea">0</span> 条评论）</font></strong></td></tr>
</table>
<script>
		  function CheckPl(obj)
		  {
		  if(obj.saytext.value=="")
		  {
		  alert("您没什么话要说吗？");
		  obj.saytext.focus();
		  return false;
		  }
		  return true;
		  }
		  </script>
<form action="/e/pl/doaction.php" method="post" name="saypl" id="saypl" onsubmit="return CheckPl(document.saypl)">
<table width="100%" border="0" cellpadding="0" cellspacing="0" id="plpost">
<tr>
<td>
<table width="100%" border="0" cellspacing="10" cellpadding="0">
<tr>
<td>
<script src="/e/pl/loginjspl.php"></script>
<textarea name="saytext" rows="6" id="saytext" placeholder="请遵守互联网相关规定，不要发布广告和违法内容!"></textarea>
<script src="/d/js/js/plface.js"></script>&nbsp;&nbsp;&nbsp;
<table width='100%' align='left' cellpadding=3 cellspacing=1 bgcolor='#FFF'>
<tr>
<td width="80%" height="40" bgcolor="#FFFFFF">验证码：<input name="key" type="text" class="inputText" size="16" />
<img src="/e/ShowKey/?v=pl" align="absmiddle" name="plKeyImg" id="plKeyImg" onclick="plKeyImg.src='/e/ShowKey/?v=pl&t='+Math.random()" title="看不清楚,点击刷新" /> 
</td> 
<td width="20%" height="40" bgcolor="#FFFFFF"> 
<input name="sumbit" type="submit" value="提交评论" tabindex="6" style="border-radius: 5px;font-size: 16px;background: #e94c3d none repeat scroll 0% 0%;border: 0px none;margin: 0px 16px;padding: 1px 16px;height: 33px;line-height: 30px;color: rgb(255, 255, 255);opacity: 0.95;">
<input name="id" type="hidden" id="id" value="5425" />
<input name="classid" type="hidden" id="classid" value="1" />
<input name="enews" type="hidden" id="enews" value="AddPl" />
<input name="repid" type="hidden" id="repid" value="0" />
<input type="hidden" name="ecmsfrom" value="/htmlitzx/2020-02-06/5425.html">
</td>
</tr>  
</table> 
</td>
</tr>
</table>
</td>
</tr>
</table></form>
	<table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#FFFFFF">
        <tr>
          <td bgcolor="#FFFFFF" id="infocommentarea"></td>
        </tr>
        </table>
 <script src="/e/extend/infocomment/commentajax.php?classid=1&id=5425"></script>
</div>	
        
      </div>
    </div>
  </div>
  <div class="aside">
    <div class="widget widget_previous">
      <h5>热门文章</h5>
      <ul>
                  <li> <a href="/htmlitzx/2019-08-08/4700.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2019-08-08/small29f37bcd05d8ffb09308c142602fbdfb1565234235.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="谷歌Pixel拿出90HZ屏幕一决雌雄；iQOO Pro 5G手机时间定了！"></div>
            <p>谷歌Pixel拿出90HZ屏幕一决雌雄；iQOO Pro 5G手机时间定了！</p>
            <span>2019-08-08</span> </a> </li>
                   <li> <a href="/htmlitzx/2019-06-26/4303.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2019-06-26/small7147e0fee19a7132100839ee34c3bf4c1561512796.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="vivo AR眼镜正式发布；最全的vivo Z5x和华为Nova5i对比"></div>
            <p>vivo AR眼镜正式发布；最全的vivo Z5x和华为Nova5i对比</p>
            <span>2019-06-26</span> </a> </li>
                   <li> <a href="/htmlitzx/2019-05-01/3748.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2019-05-01/small5b45b1a46524b145122ef7213909698f1556716120.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="小米推出素乐 F5 台式风扇 三星 The Sero 可旋转电视上架开卖"></div>
            <p>小米推出素乐 F5 台式风扇 三星 The Sero 可旋转电视上架开卖</p>
            <span>2019-05-01</span> </a> </li>
                   <li> <a href="/htmlitzx/2019-07-18/4502.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2019-07-18/small5314d7b5e5e488313098a1c55a871c6b1563420903.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="8款国产5G手机获得3C认证；vivo推出1799元Y7s手机"></div>
            <p>8款国产5G手机获得3C认证；vivo推出1799元Y7s手机</p>
            <span>2019-07-18</span> </a> </li>
                   <li> <a href="/htmlitzx/2018-08-19/1605.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2018-08-19/small2530c6f3ccc19646f543da52f19eef5d1534683699.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="为什么这个图像识别的人工智能（AI），老把男人认成女人？"></div>
            <p>为什么这个图像识别的人工智能（AI），老把男人认成女人？</p>
            <span>2018-08-19</span> </a> </li>
                   <li> <a href="/htmlitzx/2019-04-24/3681.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2019-04-24/small9f59e33788e38729c85241742c09bca41556073394.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="iOS13新功能曝光；发现支付宝“神功能”"></div>
            <p>iOS13新功能曝光；发现支付宝“神功能”</p>
            <span>2019-04-24</span> </a> </li>
               </ul>
    </div>
    <div class="widget sidead">
<!-- tzitad -->
      </div>
    <div class="widget widget_previous">
      <h5>热评文章</h5>
      <ul>
                  <li> <a href="/htmlitzx/2018-06-19/1004.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2018-06-19/small189cca0b71153598fd6a801a73c3d87f1529371928.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="苹果经典iPhone3GS重新上架，还会有人为乔布斯“情怀”买单吗？"></div>
            <p>苹果经典iPhone3GS重新上架，还会有人为乔布斯“情怀”买单吗？</p>
            <span>2018-06-19</span> </a> </li>
                   <li> <a href="/htmlitzx/2018-04-26/559.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2018-04-26/e85c41c40eab66bc8d52579ce26710b6.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="三星2018年第一季度净利润同比增长52.11% 达107亿美元"></div>
            <p>三星2018年第一季度净利润同比增长52.11% 达107亿美元</p>
            <span>2018-04-26</span> </a> </li>
                   <li> <a href="/htmlitzx/2018-04-26/560.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2018-04-26/smallbf2a80fb378ef15c54ed7b48152154fc.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="AMD第一季度营收爆涨40%：抢Intel份额 盘后涨10%"></div>
            <p>AMD第一季度营收爆涨40%：抢Intel份额 盘后涨10%</p>
            <span>2018-04-26</span> </a> </li>
                   <li> <a href="/htmlitzx/2018-04-27/563.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2018-04-27/small9f413aedc4a60138d0f1bf1190cdb812.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="Intel RST 文件确认 Z390、X399芯片组 Z390 将支持下一代 Cannon Lake 处理器"></div>
            <p>Intel RST 文件确认 Z390、X399芯片组 Z390 将支持下一代 Cannon Lake 处理器</p>
            <span>2018-04-27</span> </a> </li>
                   <li> <a href="/htmlitzx/2018-05-11/611.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2018-05-11/4ebcb15e27200fe0c0a80036516ab879.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="苹果将与高盛发行Apple Pay品牌联名信用卡"></div>
            <p>苹果将与高盛发行Apple Pay品牌联名信用卡</p>
            <span>2018-05-11</span> </a> </li>
                   <li> <a href="/htmlitzx/2018-05-11/624.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2018-05-11/small64b9a614d484d1fe3f2e71d5ccec109d1526007563.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="信息遍历、隐藏式后台、Cookie绕过…你真了解越权漏洞吗"></div>
            <p>信息遍历、隐藏式后台、Cookie绕过…你真了解越权漏洞吗</p>
            <span>2018-05-11</span> </a> </li>
               </ul>
    </div>
    <div class="widget sidead">
<!-- tzitad -->
      </div>
    <div class="widget widget_previous">
      <h5>随机文章</h5>
      <ul>
                  <li> <a href="/htmlitzx/2018-09-18/1861.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2018-09-18/small22d61fb117e310f590b2def45ed5ff6c1537231695.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="BAT三巨头上海激辩人工智能未来 奇瑞卖身162亿引入大股东"></div>
            <p>BAT三巨头上海激辩人工智能未来 奇瑞卖身162亿引入大股东</p>
            <span>2018-09-18</span> </a> </li>
                   <li> <a href="/htmlitzx/2018-06-22/1046.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2018-06-22/small6d8cc0f998071fd76e35cee0955419391529666601.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="华为保时捷之后，闪现OPPO兰博基尼，下一个是小米还是vivo呢"></div>
            <p>华为保时捷之后，闪现OPPO兰博基尼，下一个是小米还是vivo呢</p>
            <span>2018-06-22</span> </a> </li>
                   <li> <a href="/htmlitzx/2018-08-27/1678.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2018-08-27/small4addd878eab633da9db6dac43b7bcf201535361765.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="构建赋能型商业模式，看海云数据AI商业领袖的进阶之路"></div>
            <p>构建赋能型商业模式，看海云数据AI商业领袖的进阶之路</p>
            <span>2018-08-27</span> </a> </li>
                   <li> <a href="/htmlitzx/2018-06-17/989.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2018-06-17/small470b0355f11bc3cb7a9f08b761c0bd731529239556.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="全面屏手机屏占比排行榜！小米8进前3都难！第一是vivo这款手机"></div>
            <p>全面屏手机屏占比排行榜！小米8进前3都难！第一是vivo这款手机</p>
            <span>2018-06-17</span> </a> </li>
                   <li> <a href="/htmlitzx/2019-06-24/4279.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2019-06-24/small62fb939f9bac8f88ee770cbc2883cbcf1561342393.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="5G时代下隐私保护何去何从？5G与传统物流的融合！"></div>
            <p>5G时代下隐私保护何去何从？5G与传统物流的融合！</p>
            <span>2019-06-24</span> </a> </li>
                   <li> <a href="/htmlitzx/2019-08-12/4735.html" target="_blank">
            <div class="img"><img src="/e/extend/timthumb.php?src=/d/file/2019-08-12/small58b5885bf298db0147f1d5ecaa958fc41565577447.jpg&amp;w=80&amp;h=55&amp;zc=1" alt="多款一加电视通过蓝牙认证；对标P30 Pro DxOMark预告新机"></div>
            <p>多款一加电视通过蓝牙认证；对标P30 Pro DxOMark预告新机</p>
            <span>2019-08-12</span> </a> </li>
               </ul>
    </div>
    <div class="widget sidead">
<!-- tzitad -->
      </div>
    <div class="widget widget_archives">
        <h5>文章归档</h5>
        <ul>
          <li><a href="/htmlitzx/" >IT资讯（857）</a> </li><li><a href="/htmlitjs/" >IT技术（274）</a> </li><li><a href="/htmlydhl/" >移动互联（210）</a> </li><li><a href="/htmlrjzj/" >软件之家（194）</a> </li><li><a href="/htmlyjzj/" >硬件之家（449）</a> </li><li><a href="/htmlqkl/" >区块链（105）</a> </li><li><a href="/htmlpczx/" >评测中心（1951）</a> </li><li><a href="/htmlznsb/" > 智能设备（1415）</a> </li>        </ul>
      </div>
  </div>
</div>
<div class="footer">
  <div class="wrap">
    <div class="copyright">Copyright tzit.net © 2011-2018 Rights Reserved.</div>
    <div class="power">浙ICP备18014843号-3 | <script src="https://s11.cnzz.com/z_stat.php?id=1260969464&web_id=1260969464" language="JavaScript"></script></div>
  </div>
</div>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<div id="goTop" class="goTop"><i class="fa fa-angle-up"></i></div>
<script src="/skin/tzit/js/ResizeSensor.min.js" type="text/javascript"></script> 
<script src="/skin/tzit/js/theia-sticky-sidebar.min.js" type="text/javascript"></script> 
<script>jQuery(document).ready(function($) {jQuery('.aside').theiaStickySidebar({ additionalMarginTop: 72,});});</script>
<script type="text/javascript" src="/skin/tzit/js/infinitescroll.js"></script>
<script src="/skin/tzit/js/common.js" type="text/javascript"></script> 
<script src="/skin/tzit/js/swiper.min.js" type="text/javascript"></script> 
<script>var swiper = new Swiper('.swiper-container', {slidesPerView: 1,spaceBetween: 30,loop: true,pagination: {el: '.swiper-pagination',clickable: true,},navigation: {nextEl: '.swiper-button-next',prevEl: '.swiper-button-prev',},});</script> 
<script src="/skin/tzit/js/prettify.js" type="text/javascript"></script>
</body>
</html>